/*======= Custom Colors =======*/
$clr-pri: #b1c240;
$clr-pri-b: #1db3a6;
$clr-black: #373435;
$clr-gray: #585757;
$clr-white: #fff;

.bg-pri {
  background-color: $clr-black;
}

.text-pri {
  color: #373435;
}

.text-sec {
  color: #b1c240;
}

html {
  scroll-behavior: smooth;
}

a,
p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding-inline: 1.5em;
  max-width: 80rem;
  margin-inline: auto;

  @media screen and (min-width: 640px) {
    padding-inline: 4em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.active {
  // color: $clr-pri-b;
  font-weight: 900;
}

.btn-primary {
  // color: #fff;
  background-color: transparent;
  border: 1px solid rgba(40, 179, 166, 1);

  &:hover {
    background-color: rgba(40, 179, 166, 1);
    color: #fff;
  }
}

.heading-1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  line-height: clamp(2.5rem, 4vw, 4rem);
}

.heading-2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: clamp(1.4rem, 4vw, 1.8rem);
}

.heading-2-sm {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.875rem;
}

.heading-4 {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}

.caption {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
}

.caption-sm {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 2.5vw, 0.875rem);
}

.link {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    background-color: $clr-black;
    transition: all 0.2s ease-in;
  }

  &:hover {
    color: $clr-black;
    opacity: 0.8;

    &::after {
      background-color: $clr-black;
    }
  }
}

.link-white {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    background-color: $clr-white;
    transition: all 0.2s ease-in;
  }

  &:hover {
    opacity: 0.6;

    &::after {
      background-color: $clr-white;
    }
  }
}

.section-link {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
  font-size: clamp(14px, 2.5vw, 20px);
  transition: all 0.3s ease-in-out;

  &:hover {
    font-weight: 900;
    // color: $clr-gray;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
}
