/*======= Custom Colors =======*/
$clr-pri: #b1c240;
$clr-pri-b: #1db3a6;
$clr-black: #373435;
$clr-gray: #585757;
$clr-white: #fff;

$heading-font: 'Source Serif Pro', serif;
$body-font: 'Mulish', sans-serif;

.bg-pri {
  background-color: $clr-black;
}

.text-pri {
  color: #373435;
}

.text-sec {
  color: #b1c240;
}

html {
  scroll-behavior: smooth;
}

a,
p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding-inline: 1.5em;
  max-width: 75rem;
  margin-inline: auto;

  @media screen and (min-width: 640px) {
    padding-inline: 4em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn-primary {
  // color: #fff;
  background-color: transparent;
  border: 1px solid rgba(40, 179, 166, 1);

  &:hover {
    background-color: rgba(40, 179, 166, 1);
    color: #fff;
  }
}

.image-animate {
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.heading-animate {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;

  &:hover {
    text-decoration-color: inherit;
  }
}

.heading-1 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: clamp(2.5rem, 5vw, 3.2rem);
}

.heading-2 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: clamp(1.4rem, 4vw, 1.9rem);
}

.heading-2-sm {
  font-family: $heading-font;
  font-weight: 700;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  line-height: clamp(1.6rem, 4vw, 1.9rem);
}

.heading-4 {
  font-family: $body-font;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 1.2rem);
  line-height: clamp(1.5rem, 4vw, 1.8rem);
}

.caption {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
}

.caption-sm {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 2.5vw, 0.9375rem);
}

.post-body {
  font-family: $heading-font;
  font-weight: 400;
  font-size: clamp(1.4rem, 4vw, 1.9rem);
}

.link {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    background-color: $clr-black;
    transition: all 0.2s ease-in;
  }

  &:hover {
    color: $clr-black;
    opacity: 0.8;

    &::after {
      background-color: $clr-black;
    }
  }
}

.link-white {
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    background-color: $clr-white;
    transition: all 0.2s ease-in;
  }

  &:hover {
    opacity: 0.6;

    &::after {
      background-color: $clr-white;
    }
  }
}

.section-link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    // font-weight: 700;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }
}

.active {
  // color: $clr-pri-b;
  // font-weight: 700;
  border: none;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: inherit;
    width: 100%;
    height: 1px;
    // background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }
}

pre {
  white-space: pre-wrap;
}
