@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

a,
p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding-inline: 1em;
  max-width: 80rem;
  margin-inline: auto;

  @media screen and (min-width: 48rem) {
    padding-inline: 4em;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn-primary {
  // color: #fff;
  background-color: transparent;
  border: 1px solid rgba(40, 179, 166, 1);

  &:hover {
    background-color: rgba(40, 179, 166, 1);
    color: #fff;
  }
}

@import 'navbar';
